body {
    background-color: rgb(202, 213, 248);
    font-family: 'Roboto', sans-serif;
}

#heading {
    text-align: center;
    margin-bottom: 50px;
    font-size: 76px;
    border: dashed black;
    color: rgb(59, 59, 59);
}

ul {
    line-height: 28px;
    list-style-type: none;
}

#button {
    display: flex;
    justify-content: center;
}

img {
    margin: 5px;
}

#rock:active {
    transform: scale(0.9);
}

#paper:active {
    transform: scale(0.9);
}
#scissors:active {
    transform: scale(0.9);
}
#lizard:active {
    transform: scale(0.9);
}
#spock:active {
    transform: scale(0.9);
}

#scores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 800;
    font-size: 24px;
}

.player {
    color: blue;
}

.computer {
    color: orangered;
}

#choices {
    display: flex;
    justify-content: space-around;
}

#roundWinner {
    text-align: center;
}

#pWinner {
    display: flex;
    justify-content: center;
    color: green;
    font-weight: 900;
    font-size: 42px;
}

#cWinner {
    display: flex;
    justify-content: center;
    color: red;
    font-weight: 900;
    font-size: 42px;
}

#rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    border: solid black;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(239, 204, 253);
    margin-bottom: 32px;
    color: rgb(59, 59, 59);
}

#rules > h3 {
    font-size: 32px;
    text-decoration: underline;
}

button {
    color: blue;
    font-size: 15px;
    font-weight: 600;
    padding: 16px;
    background-color: white;
    width: 100%;
}
button:active {
    transform: scale(0.95);
}

@media only screen and (max-width: 500px) {
    #button {
        flex-wrap: wrap;
    }
}